# Override if this is the first run of the dotfiles environment
DOTFILES_FIRST_RUN=YES
# Override if user always should be prompted for setups loading the environment
# DOTFILES_USER_PROMPT_SETUPS=YES
